.card-container {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.secao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    padding-bottom: 1rem;
}

.secao-titulo {
    padding: 0.25rem 1rem 0.25rem 0.5rem;
    background-color: grey;
    color: white;
    width: fit-content;
    border-radius: 0 2rem 2rem 0;
}

.secao-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.player-container {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.canto-acolhida, .oracao-inicial, .oracao-final {
    padding: 0 0.25rem;
}

.oracao-inicial p, .oracao-final p {
    text-align: justify;
}

.oracao-inicial span, .oracao-final span {
    font-style: italic;
}

strong {
  font-style: italic;
  font-weight: bold; /* mantém o efeito de <strong> */
}
