*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Open Sans", sans-serif; */
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
    color: #000;
}

header, main, footer {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, select, textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}